/* my main css */

@font-face {
	font-family: myfont;
	src:url(../fonts/AlexBrush-Regular.ttf);
}
@font-face {
	font-family: playfairfont;
	src:url(../fonts/PlayfairDisplay-Regular.otf)
}

@media screen and (max-width:1050px) {
    .fancytext{
	font-size:2em;
	width:50%;
	top:20%;
	left:25%;
	}
}

@media screen and (max-width:767px) {
    .mediawidth {
        text-align: center;
    }
    .icons {
    	visibility: hidden;
    }
    .fill {

		height: 450px;
		width:auto;
	}
	
	.carousel-caption .btn-primary {
		

		text-align: center;
		font-size:1em;
		
    }

	.carousel-indicators {
		display: none;
	}	
	.left {
		display:none;
	}
	.right {
		display: none;
	}
	
	.box2{
		display: none;
	}
	.statement{
		background-attachment: scroll;
	}
	.fill{
	background-attachment: scroll;
	}
	.fancytext{
	font-size:3.2em;
	top:15%;
	width:80%;
	left:10%;
	right:10%;
	}

}



body {
	background-color:white;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	-webkit-font-smoothing:antialiased;
}


.sectionheading {
	background-color:transparent;
	max-width: 1600px;
	height: auto;
	padding: 0px;
	border: 0px;
}

.section2 {
	background-color: ;
	max-width: 1600px;
	height: auto;
	padding: 0px;
	border: 0px;
}

.section3 {
	background-color: white;
	max-width: 1600px;
	height: auto;
	padding: 0px;
	border: 0px;
}

.icons {
	display: block;
	float: right;
	
	
}

.icons i {
	font-size: 14px;
	color: transparent;
	padding: 9px;
	margin: 5px;
	background-color: transparent;
	opacity: 1;
	border-radius:50%;
	-webkit-transition: all ease 0.3s;

} 

.icons i:hover {
	color: #666699;
	padding:9px;
	margin: 5px;
	text-decoration: none;
	-webkit-transition: all 0.3s;
	font-size: 14px;
	background-color: white;
}


h4:hover {
	background-color: grey;
	border-radius: 2px;
} 

.heading {

	
	padding: 0px;
	
}

.heading h4 {
}

.heading p{

}

.glyph .glyphicon{
	color: #ff66a3;
	font-size:3em;
	opacity: .7;
}

.glyph {
	background-color: white;
	
	padding:50px;
	text-align:center;
	color:grey;
	font-size: 1.150em;
	letter-spacing: 0px;
}

.glyph h4{
	color:black;
	text-align: center;
	padding: 10px;
	letter-spacing: 4px;	
}
.section3colb1 {
	background-color:white;
	padding:0px;
	margin:0px;
	text-align:center;
	color:grey;
}

.photowrapper {
	background-color:transparent;
	padding:0px;
	margin:0px;
	border:0px;
	text-align:center;
	color:grey;
}

.threeintro {
	padding:25px 15px 0px 15px;
	text-align:center;
}

.threeintro h4{
	color:#262626;
	text-align: center;
	letter-spacing: 3px;	
}
.threeintro p{
	color:grey;
	text-align: center;
	padding: 0px;
	letter-spacing: 0px;
	font-size: 1.15em;
	line-height:30px;	
}


.threeintro .btn-primary {
	background-color: #ff66a3;
	opacity: .7;
	border:solid 0px;
	border-color:black;
	font-size:1em;
	color:white;
	font-weight: 700;
	letter-spacing:2px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: 3px;
	margin-bottom: 40px;
	box-shadow: 0 3px #800040;

}
.threeintro .btn-primary:hover {
	background-color: #ff66a3;
	opacity: .9;
	border:solid 0px;
	border-color:black;
	color:white;
	letter-spacing:2px;
	border-radius: 5px;
	margin-bottom: 40px;
	box-shadow: 0 1px #800040;
	-webkit-transition:all .5s;

}

.statement {
	background-image:url(../images/dressbw2.jpg);
	
	background-repeat: repeat;
	background-attachment: fixed;
	-webkit-background-size: cover;
  	background-position:center center;
	text-align:center;
	padding-top: 150px;
	padding-bottom: 150px;
	padding-left: 50px;
	padding-right: 50px;	
}
@media screen and (max-width:767px) {
	.statement{
		background-attachment: scroll;
		padding-top: 20px;
		padding-bottom: 20px;
		padding-left: 10px;
		padding-right: 10px;
	}
}
.statement h3{
	color:white;
	font-size: 2.75em;
	line-height: 45px;
	letter-spacing: 8px;
	font-weight:bold;
    -webkit-font-smoothing:antialiased;
}
@media screen and (max-width:767px) {
	.statement h3{
	font-size: 1.4em;
	letter-spacing: 6px;
	}
}
.statement p{
	color:white;
	font-size: 2em;
	line-height: 45px;
	letter-spacing: 0px;
	font-family: playfairfont;
	font-style: italic;
	font-weight:100;
    -webkit-font-smoothing:antialiased;
}
@media screen and (max-width:767px) {
	.statement p{
	font-size: 1.2em;
	line-height: 35px;	
	}
}
.companyprofile {
	text-align:center;
	padding: 50px;
	
	
}
.companyprofile h3{
	color:#444444;
	font-size: 3em;
	line-height: 45px;
	letter-spacing: 8px;
	font-weight:bold;
    -webkit-font-smoothing:antialiased;
}
.companyprofile p{
	color:grey;
	font-size: 1.3em;
	line-height: 40px;
	letter-spacing: 0px;
    -webkit-font-smoothing:antialiased;
	}

.companyprofile hr{
	border-color:#646a6e;
	border-width: 2px;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

@media screen and (max-width:767px){
	.companyprofile{
		padding-left: 10px;
		padding-right: 10px;
	}
	.companyprofile h3{
		font-size: 2.1em;
	}
	.companyprofile p{
		font-size: 1.15em;
		line-height: 32px;
	}	
}
    
.justifycontent {
	text-align:justify;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 0px;
	padding-right: 0px;
}
.justifycontent h3{
	text-align: center;
	color:#444444;
	font-size: 1.4em;
	line-height: 45px;
	letter-spacing: 4px;
	font-weight:bold;
    -webkit-font-smoothing:antialiased;
}
.justifycontent{
	color:#646a6e;
	font-size: 1.2em;
	line-height: 32px;
	letter-spacing: 0px;
	font-weight: 100;
    -webkit-font-smoothing:antialiased;
	}

@media screen and (max-width:767px){
	.justifycontent{
		padding-left: 10px;
		padding-right: 10px;
	}
	.justifycontent h3{
		font-size: 1.3em;
	}
	.justifycontent p{
		font-size: 1em;
		line-height: 30px;
	}	
}
    
.justifycontent hr{
	border-color: black;
	border-width: 1px;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}













.footer{
	background-color:#f2f2f2;
	opacity: 1;
}

.footercol {
	background-color:#f2f2f2;
	padding:50px;
	text-align: center;
	opacity: 1;
	font-size: 1.1em;
	color: grey;
}

.footercol i{
	padding: 5px;
	color: white;
	font-size:1.5em;
	opacity: 1;
	border-radius: 50%;
	border: solid 1px white;
}

.footercol i:hover{
	font-size: 2em;
}



 h1 {

	font-family: sans-serif;
	color: grey;
	font-size: 1.5em;
	text-align: center;
	letter-spacing: 9px;
}	

.icons2 {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	top: 15px;
	
}

.icons2 i {
	font-size: 1.4em;
	color: white;
	padding: 13px;
	margin: 5px;
	background-color: #ff66a3;
	opacity: .8;
	border-radius:50%;
	-webkit-transition: all ease 0.3s;
	
} 
.icons2 i:hover {
	color: #ff66a3;
	opacity: .7;
	padding:10px;
	margin: 5px;
	text-decoration: none;
	-webkit-transition: all 0.3s;
	background-color: white;
}
.copyright {

	position: relative;
	top:10px;
	color: white;
	 
}
 hr{
	border-color: #ff66a3;
	opacity: .5;
	width: 50px;
	text-align: center;
	margin-right: auto;
	margin-left:auto;
    border-width: 4px;
}
.section3colc hr{
	border-color: #ff66a3;
	opacity: .5;
	width: 50px;
	text-align: center;
	margin-right: auto;
	margin-left:auto;
    border-width: 4px;
}
